.footer {
	margin-top: auto;
	@include media-breakpoint-up(lg) {
		padding-top: rem(64);
		padding-bottom: rem(50);
	}
	padding-top: 32px;
	padding-bottom: 32px;
	//
	&__address {
		max-width: 224px;
		font-size: $large;
		line-height: calc(30 / 20);
		@include media-breakpoint-up(md) {
			max-width: rem(352);
		}
	}
	&__links {
		a {
			display: block;
		}
		max-width: 224px;
		font-size: $large;
		line-height: calc(30 / 20);
	}
	&__sticker {
		color: $body-color;
		.icon {
			width: 46px;
			height: 46px;
		}
		span {
			margin-left: 8px;
			line-height: 46px;
			font-size: $large;
		}
	}
	.row {
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(64)};
		}
		--bs-gutter-x: 16px;
		--bs-gutter-y: 32px;
	}
	&__col1 {
		order: 0;
	}
	&__col2 {
		@include media-breakpoint-down(lg) {
			order: 1;
		}
		@include media-breakpoint-down(md) {
			order: 2;
		}
	}
	&__col3 {
		@include media-breakpoint-down(lg) {
			order: 3;
		}
	}
	&__col4 {
		@include media-breakpoint-up(sm) {
			padding-right: 0;
		}
		@include media-breakpoint-down(lg) {
			order: 2;
		}
		@include media-breakpoint-down(md) {
			order: 1;
		}
	}
	&__top {
		padding: 12px;
		display: block;
		margin-left: auto;
		width: 48px;
		height: 48px;
		.icon {
			width: 24px;
			height: 24px;
		}
	}
	&__wrap {
		display: flex;
		margin-top: 32px;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			justify-content: space-between;
		}
		flex-direction: column;
	}
	&__name {
		font-size: $large;
		line-height: calc(30 / 20);
		.icon {
			margin-top: rem(-3);
			height: rem(17);
			width: rem(140);
		}
	}
	&__policy {
		color: $body-color;
		font-size: $large;
		line-height: calc(30 / 20);
	}
}
