// start .sHeaderService
.sHeaderService {
	--sPT: 24px;
	--sPB: 40px;
	height: 496px;
	background-color: $body-color;
	display: flex;
	.container{
		display: flex;
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(57)};
		--sPB: #{rem(85)};
		height: rem(780);
	}
	&__block {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__link {
		margin-bottom: rem(20);
		.icon {
			width: rem(18);
			transform: scaleX(-1);
			transition-duration: 0.2s;
			color: $white;
			margin-right: rem(5);
			margin-top: rem(-5);
		}
		span {
			font-size: $large;
			line-height: calc(30 / 20);
			font-weight: 500;
			transition-duration: 0.2s;
		}
		&:hover {
			.icon {
				color: $primary;
			}
			span {
				color: $white;
			}
		}
	}
	h1 {
		@include media-breakpoint-up(lg) {
			font-size: rem(40);
			line-height: calc(50 / 40);
		}
		font-size: 25px;
		line-height: calc(35 / 25);
		color: $white;
		margin-bottom: rem(32);
		span {
			color: $primary;
		}
	}
	&__caption {
		@include media-breakpoint-up(lg) {
			font-size: rem(30);
			line-height: calc(45 / 30);
		}
		font-weight: 500;
		font-size: 16px;
		line-height: calc(20 / 16);
		color: #cbd0dc;
	}
} // end.sHeaderService
