mixin sHeaderServiceWeb(data)
	// start sHeaderService
	+b.SECTION.sHeaderService.section#sHeaderService&attributes(attributes)
		.container
			+e.block
				+e.link(href="#")
					+icon('arrows')
					span Услуги
				+e.text
					h1 <span>WEB-сервисы </span>и интернет магазины
					+e.caption Мы&nbsp;выступаем в&nbsp;роли digital-инженеров, которые определяют цель и&nbsp;выстраивают под неё систему, будь&nbsp;то сайты, интернет-магазины или веб-сервисы. Залог успеха наших проектов&nbsp;&mdash; надёжность, удобство использования и&nbsp;учёт роста бизнеса наших клиентов.<br>Остальное&nbsp;&mdash; дело техники.
	// end sHeaderService

mixin sHeaderService(data)
	// start sHeaderService
	+b.SECTION.sHeaderService.section#sHeaderService&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sHeaderService
				
			.row
	// end sHeaderService