mixin sWorkDone(data)
	// start sWorkDone
	+b.SECTION.sWorkDone.section#sWorkDone&attributes(attributes)
		.container
			h2 Что мы уже сделали:
			+e.content
				+grid-item('white',1,`Разработка сайта для выставки<br>Крипта "Игры престолов"`,`Крипта "Игры престолов"`)
				+grid-item('',2,`Разработка B2B интернет-магазина<br>для российского дистрибьютера<br>красоты Сталкер-Консалтинг`,`Сталкер-консалтинг`)
				+grid-item('',3,`Разработка международного <br>интернет-магазина ЭЭГ аксессуаров`,`Медицинские<br>компьютерные системы`)
				+grid-item('',4,`Разработка интернет-магазина косметики<br>и парфюмерии`,`BEAUTY DISCOUNT CENTER`)
				+grid-item('',5,`Сайт для производителя <br>профилактических зубных паст <br>и щеток KLATZ`,`KLATZ`)
				+grid-item('white',6,`Разработка корпоративного<br>портала`,`Физтехпарк`)
				+grid-item('',7,`Интернет-магазин для дистрибьютера<br>косметических марок HappyBirdie`)
			+e.else
				hr
				+e.else-link(href="#") Загрузить ещё
					+icon('arrows')
				hr
	// end sWorkDone

mixin grid-item(white,pic,caption,title)
	+e.grid-item(href="#" class=(white=='white' ? '--white' : ''))
		+pic(`workdone-${pic}`,'bg',0).picture-bg
		if title
			+e.title!=title
			+e.caption!=caption
		else
			+e.caption--no-title!=caption
		+e.breadcrumb
			+e.breadcrumb-item Web
			+e.breadcrumb-item--active 1C-Битрикс