// start .sWorkDone
.sWorkDone {
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(60)};
		--sPB: #{rem(60)};
	}
	h2 {
		line-height: calc(50 / 40);
		margin-bottom: 48px;
		@include media-breakpoint-down(sm) {
			font-size: 25px;
		}
	}
	&__content {
		@include media-breakpoint-up(lg) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: rem(32);
			grid-row-gap: rem(32);
			grid-auto-rows: rem(304);
			margin-bottom: rem(32);
		}
		margin-bottom: 16px;
	}
	&__grid-item {
		display: block;
		@include media-breakpoint-up(lg) {
			&:nth-child(1) {
				grid-row: 1/3;
				grid-column: 1/2;
			}
			&:nth-child(2) {
				grid-row: 1/2;
				grid-column: 2/3;
			}
			&:nth-child(3) {
				grid-row: 2/3;
				grid-column: 2/3;
			}
			&:nth-child(4) {
				grid-row: 3/4;
				grid-column: 1/3;
			}
			&:nth-child(5) {
				grid-row: 4/5;
				grid-column: 1/2;
			}
			&:nth-child(6) {
				grid-row: 4/5;
				grid-column: 2/3;
			}
			&:nth-child(7) {
				grid-row: 5/6;
				grid-column: 1/3;
			}
			margin-bottom: 0;
		}
		&:nth-child(7) {
			margin-bottom: 0;
		}
		margin-bottom: 16px;
		position: relative;
		@include media-breakpoint-up(md) {
			padding: rem(48);
			padding-bottom: rem(85);
		}
		@include media-breakpoint-down(lg) {
			height: 280px;
		}
		padding: 24px;
		padding-bottom: 55px;
		color: $body-color !important;
		&--white {
			color: $white !important;
		}
	}
	&__title {
		font-weight: 500;
		@include media-breakpoint-up(md) {
			font-size: rem(30);
			line-height: calc(45 / 30);
			margin-bottom: rem(16);
		}
		font-size: 20px;
		line-height: calc(30 / 20);
		margin-bottom: 8px;
	}
	&__caption {
		font-size: 16px;
		line-height: calc(25 / 16);
		&--no-title {
			margin-top: rem(61);
		}
	}
	&__breadcrumb {
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		@include media-breakpoint-up(md) {
			bottom: rem(48);
			left: rem(48);
		}
		left: 24px;
		bottom: 24px;
	}
	&__breadcrumb-item {
		font-size: $large;
		line-height: calc(30 / 20);
		padding-right: 28px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 12px;
			height: 26px;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url("../img/svg/slash.svg");
			top: 50%;
			right: 8px;
			transform: translateY(-50%);
		}
		&--active {
			padding-right: 0;
			&::after {
				display: none;
			}
		}
	}
	&__else {
		display: flex;
		align-items: center;
		margin-top: rem(57);
		hr {
			flex-grow: 1;
			opacity: 1;
			background-color: $primary;
		}
	}
	&__else-link {
		@include media-breakpoint-up(md) {
			padding-left: rem(32);
			padding-right: rem(32);
		}
		padding-left: 16px;
		padding-right: 16px;
		font-weight: 500;
		font-size: $large;
		line-height: calc(30 / 20);
		.icon {
			width: rem(20);
		}
	}
} // end.sWorkDone
