@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrows {
	font-size:math.div(12,10)*1rem;
	width: math.div(21,12)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-clip {
	font-size:math.div(24,10)*1rem;
	width: math.div(27,24)*1em;
}
.icon-close {
	font-size:math.div(26,10)*1rem;
	width: math.div(26,26)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-form-teeth {
	font-size:math.div(214,10)*1rem;
	width: math.div(19,214)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-left-arrow {
	font-size:math.div(74,10)*1rem;
	width: math.div(74,74)*1em;
}
.icon-line {
	font-size:math.div(18,10)*1rem;
	width: math.div(2,18)*1em;
}
.icon-logo-2 {
	font-size:math.div(20,10)*1rem;
	width: math.div(159,20)*1em;
}
.icon-slash {
	font-size:math.div(32,10)*1rem;
	width: math.div(10,32)*1em;
}
.icon-teeth {
	font-size:math.div(37,10)*1rem;
	width: math.div(180,37)*1em;
}
.icon-telegram {
	font-size:math.div(46,10)*1rem;
	width: math.div(46,46)*1em;
}
.icon-top-arrow {
	font-size:math.div(18,10)*1rem;
	width: math.div(24,18)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
