// start .headerBlock
.headerBlock {
	margin-bottom: 1px;
	min-height: 496px;
	@include media-breakpoint-up(lg) {
		min-height: rem(760);
		--sPB: 70px;
	}
	--sPB: 40px;
	background-color: #2a2a33;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	h1 {
		@extend h2;
		max-width: rem(768);
		line-height: calc(63 / 40);
		// @include media-breakpoint-down(sm){
		// 	font-size: 25px;
		// }
		.icon {
			color: $primary;
			font-size: rem(34);
			margin-left: rem(40);
			margin-top: rem(-12);
			@include media-breakpoint-down(lg) {
				display: block;
				margin-left: 0;
				margin-top: rem(24);
				font-size: 28px;
			}
		}
	}
	h3 {
		@include media-breakpoint-up(lg) {
			margin-top: rem(36);
			margin-bottom: rem(30);
		}
		// @include media-breakpoint-down(sm){
		// 	font-size: 16px;
		// }
		@include media-breakpoint-down(sm) {
			font-size: 16px;
			line-height: calc(20 / 16);
		}
		line-height: calc(45 / 30);
		margin-bottom: 40px;
		margin-top: 24px;
		color: $secondary;
	}
	&__solution-wrap {
		display: flex;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
		flex-direction: column;
		justify-content: flex-start;
	}
	&__solutions {
		display: flex;
		flex-wrap: wrap;
	}
	&__solution-link {
		font-size: $large;
		line-height: calc(30 / 20);
		font-weight: 500;
		margin-top: 40px;
		// @include media-breakpoint-down(sm){
		// 	font-size: 16px;
		// }
		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}
		.icon {
			width: rem(20);
			color: $white;
			// @include media-breakpoint-down(sm){
			// 	width: 16px;
			// }
		}
	}
	&__item {
		font-size: $large;
		line-height: calc(30 / 20);
		font-weight: 500;
		position: relative;
		@include media-breakpoint-down(sm) {
			font-size: 16px;
		}
		@include media-breakpoint-up(lg) {
			padding-left: rem(22);
			margin-right: 0;
		}
		margin-right: 16px;
		&:hover {
			color: $white;
		}
		&:first-child {
			padding-left: 0;
			.headerBlock__item-decor--left {
				display: none;
			}
		}
	}
	&__item.active {
		.headerBlock__item-decor {
			@include media-breakpoint-up(lg) {
				transform: rotate(20deg);
			}
		}
	}
	&__item-decor {
		display: inline-block;
		color: $primary !important;
		// position: absolute;
		// top: 50%;
		// transform: translateY(-50%);
		// right: 0;
		transition-duration: 0.3s;
		transform: rotate(0deg);
		@include media-breakpoint-up(lg) {
			margin-left: rem(25);
		}
		margin-left: 18px;
	}
	// background-image: url(../img);
	// background-color: #000000;
}

// end.headerBlock
// min-height: 100vh;
// min-height: calc(var(--vh, 1vh) * 100 - 74px);
// @include media-breakpoint-up(sm) {
// 	min-height: calc(var(--vh, 1vh) * 100 - 99.75px);
// }
// @include media-breakpoint-up(lg) {
// 	min-height: calc(var(--vh, 1vh) * 100 - #{rem(134)});
// 	--sPB: 70px;
// }