mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			h1 Сделать так, чтобы всё работало. Нам это по зубам
				img(src="img/gif/teeth.gif", alt="")
			h3 Проектируем и разрабатываем digital-решения
			+e.solution-wrap
				+solutions()
				+e.solution-link(href="#") Все решения
					+icon('arrows')
	// end headerBlock