// start .headerBlock
.headerBlock {
	margin-bottom: 1px;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100 - 10px); //временно
	@include media-breakpoint-up(lg) {
		min-height: calc(var(--vh, 1vh) * 100 - #{rem(134)});
	}
	background-color: #2a2a33;
	color: $white;
	// background-image: url(../img);
	// background-color: #000000;
}

// end.headerBlock
