mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			h1 Сделать так, чтобы всё работало. Нам это по зубам
				+icon('teeth')
			h3 Проектируем и разрабатываем digital-решения
	// end headerBlock