extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sCompany/_sCompany.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '02.jpg'

block title
	- let  title= 'metasharks'
	title= title
block pagecontent
	+header()
		+top-nav()
	+sCompany
	+sCompanyCompetence
	+sCompanyTeam
	+sForm()
	+footer()


