extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sServices/_sServices.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= ''

block title
	- let  title= 'metasharks'
	title= title
block pagecontent
	+header()
		+top-nav()
	+sServices
	+sForm()
	+footer()


