extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sWorkInfo/_sWorkInfo.pug
include ../blocks/sWorkDone/_sWorkDone.pug
include ../blocks/sPartners/_sPartners.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'metasharks'
	title= title
block pagecontent
	+header()
		+top-nav('dark')
		+headerBlock()
	+sWorkInfo()
	+sWorkDone()
	+sWorkHow()
	+sPartners
	+sForm()
	+footer()


