extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
	+top-nav()
	
	+topLine()
	+headerBlock()
	+sForm()
	+sContact()
	+footer()
      



