mixin sWorkInfo(data)
	// start sWorkInfo
	+b.SECTION.sWorkInfo.section#sWorkInfo&attributes(attributes)
		.container
			+e.block
				h2 Что мы делаем?
				.row
					mixin item(title,caption)
						.col-md-6.col-12
							h3!=title
							+e.item-caption!=caption
					+item(`Web-платформы`,`Разработка сайтов, интернет-магазинов, веб&#8209;приложений`)
					+item(`Mobile`,`Разработка мобильных приложений`)
					+item(`UI/UX`,`Дизайн интерфейсов. Функциональные прототипы`)
					+item(`Выделенная команда`,`Интеграция наших специалистов в&nbsp;ваши проекты`)
				+e.btn(href="#") Все услуги
					+icon('arrows')
	// end sWorkInfo

mixin sWorkHow(data)
	// start sWorkInfo
	+b.SECTION.sWorkInfo--How.section#sWorkInfo&attributes(attributes)
		.container
			+e.block
				h2 Как нам это&nbsp;удаётся?
				+e.caption Мы умеем оптимизировать рабочие процессы. Это позволяет нам&nbsp;прогнозировать результат, сокращая время и стоимость разработки. Так мы создаём работающие проекты за&nbsp;заявленные время и деньги.
				img(src="img/gif/cat.gif", alt="")
				+e.btn(href="#") Перейдём к делу
					+icon('arrows')
	// end sWorkInfo


mixin sWorkInfoService(data)
	// start sWorkInfo
	+b.SECTION.sWorkInfo--service.section#sWorkInfo&attributes(attributes)
		.container
			+e.block
				h2 Навыки и опыт
				.row
					mixin item(pic,caption)
						.col-md-6.col-12
							+e.item
								+e.pic
									img(src=`img/svg/web-${pic}.svg`, alt="")
								+e.item-caption!=caption
					+item(1,`В сегменте интернет-магазинов и e-commerce`)
					+item(2,`Команда разработки<br>на 1C-Битрикс (Golden Partner)`)
					+item(3,`Разработка на базе всех основных CMS`)
					+item(4,`Реализация высоконагруженных<br>бизнес-сервисов`)