mixin sWorkInfo(data)
	// start sWorkInfo
	+b.SECTION.sWorkInfo.section#sWorkInfo&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sWorkInfo
				
			.row
	// end sWorkInfo

mixin sWorkHow(data)
	// start sWorkInfo
	+b.SECTION.sWorkInfo--How.section#sWorkInfo&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sWorkInfo
				
			.row
	// end sWorkInfo