mixin sWorkInfo(data)
	// start sWorkInfo
	+b.SECTION.sWorkInfo.section#sWorkInfo&attributes(attributes)
		.container
			+e.block
				h2 Что мы делаем?
				.row
					mixin item(title,caption)
						.col-md-6.col-12
							h3!=title
							+e.item-caption!=caption
					+item(`Web-платформы`,`Разработка сайтов, интернет-магазинов, веб&#8209;приложений`)
					+item(`Mobile`,`Разработка мобильных приложений`)
					+item(`UI/UX`,`Дизайн интерфейсов, функциональные прототипы`)
					+item(`Выделенная команда`,`Интеграция наших специалистов в&nbsp;ваши проекты`)
				+e.btn(href="#") Все услуги
					+icon('arrows')
	// end sWorkInfo

mixin sWorkHow(data)
	// start sWorkInfo
	+b.SECTION.sWorkInfo--How.section#sWorkInfo&attributes(attributes)
		.container
			+e.block
				h2 Как нам это&nbsp;удаётся?
				+e.caption Мы умеем оптимизировать рабочие процессы. Это позволяет нам&nbsp;прогнозировать результат, сокращая время и стоимость разработки. Так мы создаём работающие проекты за&nbsp;заявленные время и деньги.
				+e.btn(href="#") Перейдём к делу
					+icon('arrows')
	// end sWorkInfo