mixin sServiceBodyWeb(data)
	// start sServiceBody
	+b.SECTION.sServiceBody.section#sServiceBody&attributes(attributes)
		.container
			h2 Начинаем с аналитики
			+e.block
				+service-item(`Исследование и проектирование`,`Для создания эффективного инструмента мы&nbsp;выясним все детали, погрузимся в&nbsp;ваши бизнес-процессы, проведём необходимые исследования и&nbsp;создадим прототипы ключевых страниц сайта.<br /><br />Прототип можно сравнить с&nbsp;точным чертежом вашего будущего проекта. Благодаря ему вы&nbsp;сможете увидеть расположение функциональных блоков и&nbsp;оценить их&nbsp;взаимодействие, понять, что сделано удачно, а&nbsp;какие идеи не&nbsp;сработают. Подобная визуализация поможет создать максимально удобный интерфейс с&nbsp;учётом всех пожеланий уже на первоначальном этапе.`,`web-1`,`head`)
				+service-item(`ТЗ – покажем всё, что скрыто`,`Техническое задание – одна из важнейших составляющих проекта. В ней мы укажем всё, что не очевидно в прототипе. Без воды, четко, по делу.`,`web-2`)
				+service-item(`Дизайн как инженерная система`,`Дизайн сайта можно будет оценить уже на&nbsp;стадии прототипа. Вместо схематичного изображения мы&nbsp;создадим полноценную графику. Когда макет и&nbsp;ТЗ будут согласованы, приступим к&nbsp;созданию рабочего варианта.<br /><br />Нужно протестировать прототип до&nbsp;запуска? Мы&nbsp;создадим кликабельный макет. Это значит, что мы&nbsp;сможем отработать основные пользовательские сценарии ещё на&nbsp;подготовительном этапе. Выявить ошибки и&nbsp;устранить их&nbsp;до&nbsp;запуска проекта гораздо проще и&nbsp;дешевле, чем на&nbsp;этапе разработки.`,`web-3`,`foot`) 
			h2 Разработка от и до / front-end back-end разработка
			+e.block--reverse
				+service-item(`Инструмент – под задачу`,`Наша студия – золотой партнёр 1С-Битрикс, и наши специалисты регулярно проходят сертификацию по работе с этой CMS. Это гибкая система, на которой работает каждый третий интернет-магазин в России. Её преимущество — более 500 различных модулей. Вам нужно лишь выбрать необходимые, интегрировать и настроить их. Но для индивидуальных решений мы пишем модули самостоятельно, это существенно сокращает время разработки.`,`web-4`,`head`)
				+service-item(`Предлагаем разнообразие`,`Система 1С-Битрикс не единственный наш инструмент. Для front-end разработки мы чаще всего используем Java Script и его фреймворки, например React, Vue, jQuery. Для back-end разработки используем Python, PHP.<br>В вашем проекте используются другие CMS или языки программирования? Мы умеем работать и с ними.`,`web-5`)
				+service-item(`Учитываем перспективу`,`Мы всегда подразумеваем развитие бизнеса клиента, поэтому предлагаем решения с учётом масштабирования и высоких нагрузок системы. Продуманный проект обеспечит надёжность вашего digital-продукта.`,`web-6`,`foot`)
			h2 Пусконаладочные работы, запуск и сопровождение
			+e.block
				+service-item(`Баг не пройдёт`,`Мы тестируем наш продукт на всех этапах разработки. Автоматические тесты необходимы для определения уязвимостей системы, а ручное тестирование позволяет оценить работу сайта с пользовательской точки зрения.`,`web-7`,`head`)
				+service-item(`Поехали!`,`Веб-сервису, как и любому сложному продукту, нужна настройка и отладка. Перед запуском мы проверим и проанализируем работу сайта в тестовом режиме. Это позволит свести к минимуму непредвиденные ситуации.`,`web-8`)
				+service-item(`Своих не бросаем`,`Мы обслуживаем и поддерживаем работу сайта после его запуска. При необходимости поможем вам разобраться со всеми функциями и возможностями системы и составим понятную инструкцию. Мы берём задачи на доработку и следим за отказоустойчивостью сайта 24/7.`,`web-9`,`foot`)
			+e.else
				hr
				+e.else-link(href="#") Смотреть портфолио
					+icon('arrows')
				hr
	// end sServiceBody

mixin sServiceBodyMob(data)
	// start sServiceBody
	+b.SECTION.sServiceBody.section#sServiceBody&attributes(attributes)
		.container
			h2 Выбор способа разработки
			+e.block
				+service-item(`Ставим цель и прокладываем путь`,`Исходя из ваших целей, мы решим какой способ разработки предпочтительнее именно для вас: нативный или кроссплатформенный. Выбор будет основываться на необходимых для вас результатах и проведённой нами аналитике. Это обязательная часть предпроектных исследований, без неё никуда.`,`mob-1`,`head`)
				+service-item(`Flutter и React Native: проще, дешевле, удобнее`,`Для большинства приложений в&nbsp;B2B сегменте подходит разработка на&nbsp;Flutter или React Native. Если ваши приложения должны выглядеть идентично на&nbsp;iOS и&nbsp;Android, рекомендуем использовать именно этот подход. <br /><br />Очевидные плюсы: разработка обычно в&nbsp;1,5 раза дешевле, потому что обе версии приложения делает один разработчик сразу под две платформы&nbsp;&mdash; код в&nbsp;них на&nbsp;70% общий. А, как известно, меньше кода&nbsp;&mdash; меньше багов! В&nbsp;будущем это значительно облегчит развитие продукта.`,`mob-2`)
				+service-item(`Без имитации и маскировки`,`Такие кроссплатформенные решения, как Ionic, Cordova или&nbsp;Titanium,&nbsp;имитируют среду браузера, то&nbsp;есть маскируют сайт под мобильное приложение. Это вызывает неизбежные ошибки и&nbsp;сбои в&nbsp;работе.<br /><br />Мы&nbsp;же используем решения вроде Flutter или React Native, которые позволяют нам сделать интерфейс более нативным&nbsp;&mdash; в&nbsp;них используются стандартные элементы, которые помогают избежать проблем с&nbsp;табами и&nbsp;скроллом. Интерфейс будет вести себя так&nbsp;же отзывчиво, как и&nbsp;в&nbsp;классическом приложении&nbsp;&mdash; без WebView и&nbsp;подобных инструментов под капотом. Наши продукты, созданные с&nbsp;помощью этой технологии, можно посмотреть в&nbsp;разделе Проекты.`,`mob-3`) 
				+service-item(`Когда нужна нативная разработка?`,`Разумеется, у разработки на Flutter или React Native есть ограничения. Если нужно разработать 3D-игру, приложение со сложной анимацией или с тяжёлой графикой, то однозначно выбираем нативное. Выбор способа разработки зависит от того, какой функционал вы хотите получить в результате. Нативная разработка выйдет сложнее и дороже, но именно она даст возможность воплотить уникальные, графически нагруженные решения.`,`mob-4`,`foot`) 
			h2 Дальше — дело техники
			+e.block
				+service-item(`Проверим идею до старта`,`Ещё на этапе дизайна мы разработаем интерактивный прототип. Это наглядно покажет, как будет выглядеть и работать приложение на экране смартфона или планшета ещё до начала разработки. Мы протестируем модель приложения по основным пользовательским сценариям и скорректируем задачу на дальнейший этап. В этот момент внести изменения в будущий продукт намного проще и дешевле.`,`mob-5`,`head`)
				+service-item(`Техническое задание дополнит прототип`,`Когда структура приложения и прототип будут готовы, мы напишем техническое задание в дополнение к ним. В нем мы без воды расскажем о проекте, его параметрах и особенностях работы.`,`mob-6`)
				+service-item(`Только проверенные решения`,`Мы пишем на Swift и Kotlin. Поддерживаем проекты написанные на Objective-C и Java. Создаем кроссплатформенные продукты на Flutter и React Native. Помимо этого, создаём кастомные UI-компоненты, чтобы интерфейс вашего приложения был уникальным. Мы используем только проверенные решения и библиотеки, применяем CI/CD, автоматизируем процесс разработки. Создаём архитектуру клиент-серверного взаимодействия и интегрируем свой код с технологиями заказчика.`,`mob-7`)
				+service-item(`Протестируем со всех сторон`,`Мы ведём контроль качества проекта на всех этапах его разработки. Проводим тесты на реальных девайсах. Регулярное ручное тестирование помогает найти мелкие баги и оценить удобство интерфейса приложения. Пишем Unit- и UI-автотесты и готовим акты тестирования в качестве тестовой документации. Мы находим проблемные места в процессе реализации проекта и устраняем их. Всё это обеспечивает качественную работу приложения.`,`mob-8`)
				+service-item(`Красиво упакуем`,`Когда наступит момент размещения приложения в&nbsp;AppStore и&nbsp;Google Play, мы&nbsp;подготовим графические материалы и&nbsp;описание приложения, чтобы наглядно показать его преимущества. Позаботимся о&nbsp;том, чтобы информации о&nbsp;нём было достаточно для принятия решения о&nbsp;скачивании.<br /><br />Следует помнить, что размещение в&nbsp;сторах процесс не&nbsp;быстрый и&nbsp;не&nbsp;всегда удаётся получить одобрение с&nbsp;первого раза. Иногда приходится вносить правки, устранять недочёты и&nbsp;общаться с&nbsp;сервисами Apple и&nbsp;Google. Всё это мы&nbsp;берем на&nbsp;себя.`,`mob-9`,`foot`)
			h4 Техническая поддержка: мы всегда с вами
			+e.note В digital-мире всё очень быстро меняется, поэтому мы продолжим работать над тем, чтобы ваше приложение всегда оставалось актуальным и соответствовало последним версиям iOS и Android, в том числе адаптировалось под новые устройства. Вы всегда можете на нас рассчитывать.
			+e.else
				hr
				+e.else-link(href="#") Смотреть портфолио
					+icon('arrows')
				hr
	// end sServiceBody

mixin sServiceBodyCommand(data)
	// start sServiceBody
	+b.SECTION.sServiceBody.section#sServiceBody&attributes(attributes)
		.container
			+e.block
				+service-item(`Приступаем немедленно`,`Мы выясняем задачи клиента и подбираем тех сотрудников, которые обеспечат наилучший результат. После знакомства с проектом и совместного определения необходимых целей, мы приступаем к работе. Мы предоставим вам слаженные команды специалистов, которые являются экспертами в необходимой области. Мы поможем вам сократить время на поиск редкого специалиста, а затем на адаптацию и интеграцию нового сотрудника. При таком подходе, мы закроем ваш запрос быстрее и эффективнее, чем HR.`,`command-1`,`head`)
				+service-item(`Не только программисты`,`Стандартная команда разработки состоит из менеджера проекта, одного или нескольких middle-разработчиков, тимлида/senior-разработчика, специалиста по тестированию и дизайнера при необходимости. Если для вашего проекта не нужна целая команда, а нужен другой состав участников или только один специалист - не проблема, мы сформируем команду под ваш запрос.`,`command-2`)
				+service-item(`Инструменты на выбор`,`У нас работают сотрудники, которые являются экспертами в JavaScript, Python, PHP, Ruby, Swift, Java, Kotlin, React Native, Flutter ручном и автоматизированном тестировании, продуктовом дизайне. Это позволяет выбирать оптимальные инструменты разработки и сформировать состав команды в зависимости от ваших задач.`,`command-3`) 
				+service-item(`Контроль качества`,`Всё общение происходит через менеджера вашего проекта. Контроль за ведением разработки и выполнением задач осуществляется через любую вашу tasktracker-систему, вне зависимости от того, какую вы привыкли использовать: Jira, Asana, Basecamp, Redmine, Битрикс24, Trello, TeamWork или Мегаплан. Мы можем работать практически во всех. Если у вас нет своей системы постановки задач, то мы добавим ваш проект в нашу и дадим доступ, чтобы вы смогли отслеживать ход работы. Мы предоставим всё необходимое для достиженния вами нужного результата.`,`command-4`,`foot`) 
			+e.else
				hr
				+e.else-link(href="#") Смотреть портфолио
					+icon('arrows')
				hr
	// end sServiceBody

mixin sServiceBodyDesign(data)
	// start sServiceBody
	+b.SECTION.sServiceBody.section#sServiceBody&attributes(attributes)
		.container
			h2 Дизайн как отлаженный механизм
			+e.block
				+service-item(`Дизайн — дело принципа`,`Мы считаем, что продукт должен быть не только красивым, но ещё удобным, функциональным и лаконичным. На этих принципах и строится наш подход к дизайну. Мы не просто художники, которые делают красивую картинку, мы создаём работающий продукт, который отлично выглядит. Наш дизайн - это не только внешний вид, это механизм, который дополняет ваш продукт. Объединить это всё возможно, потому что мы профессионалы с руками из нужного места, и вот что мы можем:`,`design-1`,`head`)
				+service-item(`Продуктовый дизайн`,`Наш профиль&nbsp;&mdash; это дизайн цифровых продуктов: мобильных приложений, сайтов, интернет-магазинов и&nbsp;различных веб-сервисов. <br />Вот что мы&nbsp;делаем:<br />&mdash;&nbsp;Анализируем отрасль для понимания рынка и&nbsp;специфики конкретных цифровых продуктов.<br />&mdash;&nbsp;Проводим UX-исследования, чтобы выявить поведение аудитории и&nbsp;конкретного пользователя для выработки стратегии взаимодействия с&nbsp;ним. Определяем цель и&nbsp;критерии для разработки digital-продукта.<br />&mdash;&nbsp;Создаём прототипы, чтобы протестировать продукт ещё до&nbsp;окончания работ и&nbsp;внести изменения, если они потребуются.<br />&mdash;&nbsp;Делаем привлекательный для рынка дизайн. На&nbsp;этом этапе прототип и&nbsp;становится полноценным продуктом.`,`design-2`)
				+service-item(`Проверьте и поверьте: тестирование гипотез `,`Запуск нового приложения или изменение существующего&nbsp;&mdash; это риски. Хочется быть уверенным, что продукт будет востребован на&nbsp;рынке, что пользователь будет рад новым фичам, а&nbsp;интерфейс будет интуитивно понятным. Инвесторам при этом важно видеть возможность окупаемости вложений. Заглянуть в&nbsp;будущее позволяет механизм тестирования продуктовых гипотез. Вот как он&nbsp;работает: <br />&mdash;&nbsp;Мы&nbsp;определяем потенциальных пользователей и&nbsp;проводим анализ: изучаем потребности, рассматриваем решения конкурентов, определяем проблемные места при использовании.<br />&mdash;&nbsp;На&nbsp;основе этих данных, проектируем путь пользователя, функционал, формируем потенциал для улучшения и&nbsp;план работы по&nbsp;спринтам.<br />&mdash;&nbsp;Создаём рабочий интерактивный прототип, по&nbsp;функционалу и&nbsp;работе которого можно оценить и&nbsp;внести изменения в&nbsp;digital-решение ещё до&nbsp;его запуска.<br /><br />Факт: затраты на&nbsp;тестирование гипотез в&nbsp;разы меньше, чем расходы на&nbsp;исправление ошибок в&nbsp;готовых продуктах. Берегите силы и&nbsp;время, а&nbsp;ваши деньги сэкономим&nbsp;мы.`,`design-3`) 
				+service-item(`IA и IxD дизайн`,`Работающий сайт это не&nbsp;только красивая картинка и&nbsp;понятное наполнение, это большая структура, которая не&nbsp;видна обычному пользователю. Основой работоспособности вашего сайта будет его скелет или информационная архитектура (IA). Благодаря&nbsp;ей, любой сайт, приложение или иной проект будут структурированы и&nbsp;пользователь с&nbsp;легкостью определит где искать ту&nbsp;или иную информацию. <br /><br />IxD или проектирование взаимодействия делает ваш интерфейс интерактивным и&nbsp;позволяет предсказать взаимодействие пользователя с&nbsp;ним. Именно благодаря IxD дизайнерам и&nbsp;их&nbsp;разработкам сайты или приложения получаются интуитивно понятными.`,`design-4`,`foot`) 
			h2 А что ещё?
			+e.block
				+service-item(`3D-дизайн`,`В наших проектах иногда приходится использовать трёхмерные модели объектов. В таких случаях мы применяем 3D-технологии. Они позволяют отобразить весь объект в мельчайших деталях и рассмотреть его со всех сторон. Сегодня большинство браузеров поддерживают эту технологию и мы можем применить её и для вашего сайта. Это гарантировано повысит его узнаваемость и посещаемость.`,`design-5`,`head`)
				+service-item(`Логотип, фирменный стиль, рестайлинг — что это такое и когда это нужно?`,`Релиз нового цифрового продукта часто связан с изменениями в компании, открытием новых направлений, привлечением дополнительных инвестиций. Чтобы продукт эффективно работал на увеличение капитала бренда, мы помогаем компаниям подготовится к запуску — при необходимости проводим рестайлинг, актуализируем фирменный стиль и брендбук. Также мы поможем упаковать самостоятельные digital-инструменты — создадим лого, название, концепцию - и всё это с необходимой вам долей креатива.`,`design-6`)
				+service-item(`А баннеры и визитки можете?`,`Это не наш профиль, но и это мы можем. Подготовим брендированный контент, иллюстрации и фирменную полиграфию. Ваш отдел маркетинга будет нами доволен.`,`design-7`,`foot`) 
			+e.else
				hr
				+e.else-link(href="#") Смотреть портфолио
					+icon('arrows')
				hr
	// end sServiceBody

mixin service-item(title,caption,img,place)
	+e.service-item
		if (place=="head")
			span.line-head
		else
			span.line-top
		if (place=="foot")
			span.line-foot
		span.line-side
		+e.item-text
			+e.item-title!=title
				span.line-side-mob.d-lg-none
				span.line-middle.d-lg-none
			+e.item-caption
				+pic(`${img}.png`,'',0).d-lg-none
				p!=caption
				span.line-side-text.d-lg-none
		+pic(`${img}.png`,'',0).sServiceBody__big-img