mixin sServiceBodyWeb(data)
	// start sServiceBody
	+b.SECTION.sServiceBody.section#sServiceBody&attributes(attributes)
		.container
			h2 Начинаем с аналитики
			+e.block
				+service-item(`Исследование и проектирование`,`Для создания эффективного инструмента мы&nbsp;выясним все детали, погрузимся в&nbsp;ваши бизнес-процессы, проведём необходимые исследования и&nbsp;создадим прототипы ключевых страниц сайта.<br /><br />Прототип можно сравнить с&nbsp;точным чертежом вашего будущего проекта. Благодаря ему вы&nbsp;сможете увидеть расположение функциональных блоков и&nbsp;оценить их&nbsp;взаимодействие, понять, что сделано удачно, а&nbsp;какие идеи не&nbsp;сработают. Подобная визуализация поможет создать максимально удобный интерфейс с&nbsp;учётом всех пожеланий уже на первоначальном этапе.`,`web-1`,`head`)
				+service-item(`ТЗ – покажем всё, что скрыто`,`Техническое задание – одна из важнейших составляющих проекта. В ней мы укажем всё, что не очевидно в прототипе. Без воды, четко, по делу.`,`web-2`)
				+service-item(`Дизайн как инженерная система`,`Дизайн сайта можно будет оценить уже на&nbsp;стадии прототипа. Вместо схематичного изображения мы&nbsp;создадим полноценную графику. Когда макет и&nbsp;ТЗ будут согласованы, приступим к&nbsp;созданию рабочего варианта.<br /><br />Нужно протестировать прототип до&nbsp;запуска? Мы&nbsp;создадим кликабельный макет. Это значит, что мы&nbsp;сможем отработать основные пользовательские сценарии ещё на&nbsp;подготовительном этапе. Выявить ошибки и&nbsp;устранить их&nbsp;до&nbsp;запуска проекта гораздо проще и&nbsp;дешевле, чем на&nbsp;этапе разработки.`,`web-3`,`foot`) 
			h2 Разработка от и до / front-end back-end разработка
			+e.block--reverse
				+service-item(`Инструмент – под задачу`,`Наша студия – золотой партнёр 1С-Битрикс, и наши специалисты регулярно проходят сертификацию по работе с этой CMS. Это гибкая система, на которой работает каждый третий интернет-магазин в России. Её преимущество — более 500 различных модулей. Вам нужно лишь выбрать необходимые, интегрировать и настроить их. Но для индивидуальных решений мы пишем модули самостоятельно, это существенно сокращает время разработки.`,`web-4`,`head`)
				+service-item(`Предлагаем разнообразие`,`Система 1С-Битрикс не единственный наш инструмент. Для front-end разработки мы чаще всего используем Java Script и его фреймворки, например React, Vue, jQuery. Для back-end разработки используем Python, PHP.<br>В вашем проекте используются другие CMS или языки программирования? Мы умеем работать и с ними.`,`web-5`)
				+service-item(`Учитываем перспективу`,`Мы всегда подразумеваем развитие бизнеса клиента, поэтому предлагаем решения с учётом масштабирования и высоких нагрузок системы. Продуманный проект обеспечит надёжность вашего digital-продукта.`,`web-6`,`foot`)
			h2 Пусконаладочные работы, запуск и сопровождение
			+e.block
				+service-item(`Баг не пройдёт`,`Мы тестируем наш продукт на всех этапах разработки. Автоматические тесты необходимы для определения уязвимостей системы, а ручное тестирование позволяет оценить работу сайта с пользовательской точки зрения.`,`web-7`,`head`)
				+service-item(`Поехали!`,`Веб-сервису, как и любому сложному продукту, нужна настройка и отладка. Перед запуском мы проверим и проанализируем работу сайта в тестовом режиме. Это позволит свести к минимуму непредвиденные ситуации.`,`web-8`)
				+service-item(`Своих не бросаем`,`Мы обслуживаем и поддерживаем работу сайта после его запуска. При необходимости поможем вам разобраться со всеми функциями и возможностями системы и составим понятную инструкцию. Мы берём задачи на доработку и следим за отказоустойчивостью сайта 24/7.`,`web-9`,`foot`)
			+e.else
				hr
				+e.else-link(href="#") Смотреть портфолио
					+icon('arrows')
				hr
	// end sServiceBody

mixin service-item(title,caption,img,place)
	+e.service-item
		if (place=="head")
			span.line-head
		else
			span.line-top
		if (place=="foot")
			span.line-foot
		span.line-side
		+e.item-text
			+e.item-title!=title
				span.line-side-mob.d-lg-none
				span.line-middle.d-lg-none
			+e.item-caption
				+pic(`${img}.png`,'',0).d-lg-none
				p!=caption
				span.line-side-text.d-lg-none
		+pic(`${img}.png`,'',0).sServiceBody__big-img