// start .sServiceBody
.sServiceBody {
	// --sPT: ;
	// --sPB: ;
	@include media-breakpoint-up(lg) {
	}
	overflow: hidden;
	.container {
		@include media-breakpoint-down(sm) {
			padding-left: 40px;
			padding-right: 40px;
		}
	}
	h2 {
		@include media-breakpoint-down(lg) {
			font-size: 25px;
			line-height: calc(35 / 25);
			margin-bottom: 72px;
		}
		margin-bottom: rem(160);
		line-height: calc(50 / 40);
	}
	&__service-item {
		display: flex;
		position: relative;
		@include media-breakpoint-up(lg) {
			justify-content: space-between;
			margin-bottom: rem(140);
		}
		margin-bottom: 48px;
		&:nth-child(even) {
			@include media-breakpoint-up(lg) {
				.sServiceBody__big-img {
					order: 0;
					margin-right: 40px;
				}
				.sServiceBody__item-text {
					order: 1;
					margin-right: 0;
				}
			}
			.line-side {
				@include media-breakpoint-up(lg) {
					right: auto;
					left: rem(110);
				}
			}
			.line-foot {
				@include media-breakpoint-up(lg) {
					right: auto;
					left: rem(110);
				}
			}
		}
		.line-head {
			position: absolute;
			height: 1.5px;
			width: 100vw;
			@include media-breakpoint-up(lg) {
				right: rem(110);
				top: rem(-70);
			}
			right: -24px;
			top: -24px;
			z-index: -1;
			background-color: $primary;
		}
		.line-side {
			position: absolute;
			background-color: $primary;
			@include media-breakpoint-up(lg) {
				display: block;
				height: calc(100% + #{rem(140)});
				right: rem(110);
				top: 50%;
				transform: translateY(-50%);
			}
			width: 1.5px;
			display: none;
			z-index: -1;
		}
		.line-top {
			position: absolute;
			height: 1.5px;

			@include media-breakpoint-up(lg) {
				left: rem(110);
				top: rem(-70);
				width: calc(100% - #{rem(220)});
			}
			left: -24px;
			width: calc(100% + 48px);
			top: -24px;
			z-index: -1;
			background-color: $primary;
		}
		.line-foot {
			position: absolute;
			height: 1.5px;
			width: 100vw;
			@include media-breakpoint-up(lg) {
				right: rem(110);
				bottom: rem(-70);
				left: auto;
			}
			left: -24px;
			right: auto;
			bottom: -24px;
			z-index: -1;
			background-color: $primary;
		}
	}
	&__block {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(180);
		}
		margin-bottom: 96px;
		&--reverse {
			.line-head {
				@include media-breakpoint-up(lg) {
					right: auto;
					left: rem(110);
				}
			}
			.line-foot {
				@include media-breakpoint-up(lg) {
					right: auto;
					left: rem(110);
				}
			}

			.sServiceBody__service-item {
				&:nth-child(even) {
					@include media-breakpoint-up(lg) {
						.sServiceBody__big-img {
							order: 1;
							margin-right: 0;
						}
						.sServiceBody__item-text {
							order: 0;
							margin-right: 40px;
						}
					}
					.line-side {
						@include media-breakpoint-up(lg) {
							right: rem(110);
							left: auto;
						}
					}
					.line-foot {
						@include media-breakpoint-up(lg) {
							left: auto;
							right: rem(110);
						}
					}
				}
				&:nth-child(odd) {
					@include media-breakpoint-up(lg) {
						.sServiceBody__big-img {
							order: 0;
							margin-right: 40px;
						}
						.sServiceBody__item-text {
							order: 1;
							margin-right: 0;
						}
					}
					.line-side {
						@include media-breakpoint-up(lg) {
							left: rem(110);
							right: auto;
						}
					}
				}
			}
		}
	}
	&__item-text {
		@include media-breakpoint-up(lg) {
			margin-right: 40px;
		}
		picture {
			img {
				max-width: 100%;
				width: 100%;
			}
			margin-bottom: 24px;
			width: 100%;
		}
	}
	&__item-title {
		font-size: rem(25);
		line-height: calc(35 / 25);
		font-weight: 500;
		color: $primary;
		margin-bottom: rem(32);
		position: relative;
		.line-side-mob {
			position: absolute;
			right: -24px;
			top: -24px;
			width: 1.5px;
			height: calc(100% + 96px);
			background-color: $primary;
			z-index: -1;
		}
		.line-middle {
			position: absolute;
			right: -24px;
			bottom: -72px;
			height: 1.5px;
			width: calc(100% + 48px);
			background-color: $primary;
			z-index: -1;
		}
	}
	&__item-caption {
		@include media-breakpoint-up(lg) {
			max-width: rem(640);
		}
		font-size: 16px;
		line-height: calc(25 / 16);
		position: relative;
		p {
			margin-bottom: 0;
		}
		.line-side-text {
			position: absolute;
			width: 1.5px;
			@include media-breakpoint-up(md) {
				height: calc(100% - 19px);
				top: 43px;
			}
			height: calc(100% - 21px);
			left: -24px;
			top: 45px;
			background-color: $primary;
		}
	}
	&__big-img {
		@include media-breakpoint-down(lg) {
			display: none;
		}
		width: rem(528);
		min-width: rem(528);
		height: rem(336);
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__else {
		display: flex;
		align-items: center;
		hr {
			flex-grow: 1;
			opacity: 1;
			background-color: $primary;
		}
	}
	&__else-link {
		@include media-breakpoint-up(md) {
			padding-left: rem(32);
			padding-right: rem(32);
		}
		padding-left: 16px;
		padding-right: 16px;
		font-weight: 500;
		font-size: $large;
		line-height: calc(30 / 20);
		.icon {
			width: rem(20);
		}
	}
	h4 {
		color: $primary;
		line-height: calc(35/25);
		margin-bottom: rem(32);
	}
	&__note{
		@include media-breakpoint-up(lg){
			margin-bottom: rem(109);
		}
		margin-bottom: 72px;
		line-height: calc(25/16);
	}
} // end.sServiceBody
