mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav(dark) 
	// start top-nav
	+b.top-nav.block-with-lazy(class=(dark ? "top-nav--dark" : ""))
		.container
			+e.wrap
				+e.logo(href="/")
					if dark
						img(src="img/svg/logo.svg", alt="")
					else
						img(src="img/svg/logo-2.svg", alt="")
				+e.menu.menu-mobile.menu-mobile--js
						+e.menu-mobile-head.d-lg-none
							+e.logo--menu(href="/")
								img(src="img/svg/logo-2.svg", alt="")
							+menu-toggle()
						ul
							li
								a(href="#") студия
							li
								a(href="#") услуги
							li
								a(href="#") проекты
							li
								a(href="#") контакты
							li
								+e.arrow(href="#") заказать проект
									+icon('arrows')
							+e.LI.language
								a.active(href="#") Ru
								+icon('slash')
								a(href="#") En
				+menu-toggle()
	// end top-nav