.top-nav {
	&--dark {
		background-color: #2a2a33;
		@include media-breakpoint-up(lg) {
			--link-color: #{$white};
		}
	}
	--hover-color: #{$primary};
	--link-color: #{$body-color};
	padding-top: 25px;
	padding-bottom: 25px;
	@include media-breakpoint-up(md) {
		padding-top: rem(43);
		padding-bottom: rem(43);
	}
	a {
		color: var(--link-color);
		&:hover {
			color: var(--hover-color);
		}
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		font-size: unset !important;
		transition-duration: 0.2s;
		@include media-breakpoint-up(lg) {
			margin-top: rem(-13);
		}
		&--menu {
			img {
				width: 128px !important;
				height: 16px !important;
			}
		}
		img {
			@include media-breakpoint-up(sm) {
				width: rem(222);
				height: rem(28);
			}
			width: 128px;
			height: 16px;
		}
		opacity: 1;
		&:hover {
			opacity: 0.8;
		}
	}
	&__menu {
		ul {
			@include media-breakpoint-up(lg) {
				display: flex;
				align-items: center;
			}
			list-style-type: none;
		}
		li {
			@include media-breakpoint-down(lg) {
				padding: rem(16);
			}
		}
		a {
			display: block;
			@include media-breakpoint-up(xl) {
				margin-left: rem(24);
				margin-right: rem(24);
			}
			@include media-breakpoint-up(lg) {
				margin-left: rem(16);
				margin-right: rem(16);
			}
			font-size: rem(20);
			line-height: calc(30 / 20);
			font-weight: 500;
		}
	}
	&__arrow {
		.icon {
			transition-duration: 0.3s;
			color: $primary;
			width: rem(21);
			
		}
		&:hover {
			.icon{
				color: $white;
			}
		}
	}
	&__language {
		display: flex;
		align-items: center;
		a {
			&:first-child {
				@include media-breakpoint-up(xl) {
					margin-left: rem(24);
				}
				@include media-breakpoint-up(lg) {
					margin-left: rem(16);
				}
				margin-right: rem(4);
			}
			&:last-child {
				margin-left: rem(4);
				margin-right: 0;
			}
			color: $secondary;
			opacity: 1 !important;
			&:hover {
				color: var(--link-color);
			}
		}
		a.active {
			color: var(--link-color);
		}
		.icon {
			color: $primary;
			width: rem(9.64);
			height: rem(32);
		}
	}
	&__menu-mobile-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: rem(20);
		padding-bottom: rem(20);
		padding-left: rem(16);
		padding-right: rem(20);
		border-bottom: 1px solid #9b9b9b;
	}
}
