.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.solutions {
	display: flex;
	flex-wrap: wrap;
	&__item {
		font-size: $large;
		line-height: calc(30 / 20);
		font-weight: 500;
		position: relative;
		@include media-breakpoint-down(sm) {
			font-size: 16px;
		}
		@include media-breakpoint-up(lg) {
			padding-left: rem(22);
			margin-right: 0;
		}
		margin-right: 16px;
		&:hover {
			color: $white;
		}
		&:first-child {
			padding-left: 0;
			.solutions__item-decor--left {
				display: none;
			}
		}
	}
	&__item.active {
		.solutions__item-decor {
			transform: rotate(20deg);
		}
	}
	&__item-decor {
		display: inline-block;
		color: $primary !important;
		// position: absolute;
		// top: 50%;
		// transform: translateY(-50%);
		// right: 0;
		transition-duration: 0.3s;
		transform: rotate(0deg);
		@include media-breakpoint-up(lg) {
			margin-left: rem(25);
		}
		margin-left: 18px;
	}
}
