mixin allcss() 
	link(href="libs/swiper/swiper.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
	link(href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap' rel='stylesheet')
	link(href="libs/filepond/filepond.min.css", rel="stylesheet")

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	script(  src="libs/filepond/filepond.min.js") 
	//- script(src="libs/jquery-filepond/filepond.jquery.js") 
	script(src="js/common.js")